nav ul{ 
	list-style-type: none; 
	background-color: #052942;
	margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    max-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul li{
	
	    padding: 5px;
    text-align: center;
    width: 43%;
}
ul li:nth-child(1){
    border-right: white solid 2px;    
}
nav a{
	color:white;
	font-family: 'Raleway';
}

nav a:hover{
	color:white;
}
#pseudoc
{
    	color:white;
	font-family: 'Raleway';
    text-align: center;
    list-style-type: none; 
	background-color: #052942;
	margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    max-height: 50px;
	display: flex;
    justify-content: space-around;

}
#disconect{
    list-style-type: none;
    color: white;
}
#disconect:hover{
	color:#DFF2FF;
    
}